body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
thead.red-header {
  background: #ac3c4a;
  background: -moz-linear-gradient(top, #ac3c4a 0%, #7d2a36 100%);
  background: -webkit-linear-gradient(top, #ac3c4a 0%, #7d2a36 100%);
  background: linear-gradient(to bottom, #ac3c4a 0%, #7d2a36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac3c4a', endColorstr='#7d2a36', GradientType=0);
  font-weight: bold!important;
  padding: 20px 15px!important;
  text-transform: uppercase;
}
thead.red-header tr th {
  padding: 20px 15px;
  border: 1px solid #792532!important;
  color: white!important;
}
.table.table-bordered.table-hover {
  margin-bottom: -2px;
  overflow: hidden;
}
tbody tr:nth-child(even) {
  background: #f4f4f4;
}
tbody tr:nth-child(odd) {
  background: #f8f8f8;
}
a {
  color: #23587e;
  font-weight: bold;
}
.full-width {
  width: 100%;
}
td.special-align {
  line-height: 21px!important;
  text-align: center;
  vertical-align: middle!important;
}
th.set-width {
  width: 145px!important;
}
th.tblsort {
  cursor: pointer!important;
}
.align-left {
  text-align: left!important;
}
.align-right {
  text-align: right!important;
}
h4.table-text {
  margin-left: 15px!important;
}
